In [46]:
import numpy as np
import pandas as pd

In [47]:
data = np.loadtxt("data.txt")

In [48]:
data = data.reshape((2,8))

In [49]:
data.shape

(2, 8)

In [50]:
data

array([[  1. ,   3. ,  15. ,  13. , 123. ,  22. ,  33. ,   3.6],
       [  2. ,   3. ,  15. ,  13. , 123. ,  22. ,  33. ,  -3.6]])

In [51]:
X = data[:,0:7]
Y = data[:,7]

In [52]:
X

array([[  1.,   3.,  15.,  13., 123.,  22.,  33.],
       [  2.,   3.,  15.,  13., 123.,  22.,  33.]])

In [53]:
Y

array([ 3.6, -3.6])